
<% @statuses.each do |status| %>
	<p class="screenname">Username: <span><%= add_links(status.screen_name) %></span></p>
	<div id="tweet-stats">
		<ul>
			<li class="num_tweets">Tweets: <span><%= status.num_statuses %></span></li>
			<li class="following">Following: <span><%= status.num_following %></span></li>
			<li class="followers">Followers: <span><%= status.num_followers %></span></li>
		</ul>
	</div>
	<div class="tweet-container group">
		<div class="avatar" style="background:url(<%= status.img_url %>); background-size:cover;"></div>
		<div class="tweet-body">
			<p><%= add_links(status.tweet_body) %></p>
		</div>
		<div class="tweet-tools">
			<ul>
				<li class="timestamp"><%= status.created_at %></li>
				<li class="retweets"><span><%= status.num_retweets %></span><br/>RETWEETS</li>
			</ul>
		</div>
	</div>
<% end %>